.font-anton{
    font-family: 'Anton', sans-serif;
}

.menu-text{
    font-family: 'Arimo', sans-serif;
}

/* Primera section */
.personajes {
    position: relative;
    height: 65vh;
    background: #CDC8C6;
}

/* Establecer el ancho de la imagen al 100% */
.hero-image {
    width: 100%;
}

/* Estilos para los enlaces de redes sociales */
.nav a {
    color: #000; /* Color predeterminado del texto */
    transition: color 0.3s; /* Transición suave de color durante 0.3 segundos */
}

.custom-card-img {
    height: 400px; /* Ajusta la altura según tus necesidades */
    width: 600px;
}

.titulo-personajes{
    font-size: 50px;
    letter-spacing: 1px;
}

.titulo-sinopsis{
    font-size: 50px;
    letter-spacing: 1px;
}

.personajes .card {
    border-radius: 0;
    height: 400px;
    width:350px;
}


.bi-instagram:hover{
    color: #833AB4;
}

.img-style{
    height: 67vh !important;
}

.content-instagram {
    background-color: white;
    height: 35px; /* Ajusta la altura según tus necesidades */
    width: 35px; /* Ajusta el ancho según tus necesidades */
    border-radius: 50%; /* Hacer un círculo */
}

.sinopsis {
    position: relative;
    height: 70vh;
    background: black;
}

.galeria{
    height: 700px !important;
    background: white;
}

.img-galeria{
    height: 420px !important; /* Ajusta la altura según tus necesidades */
    width: 300px !important;
}

.titulo-footer{
    font-size: 30px; 
    /* font-style: italic;  */
    letter-spacing: 1.5px;
}

.instagram{
    color: white;
    font-size: 20px;
}

.facebook{
    color: white;
    font-size: 20px;
}

.bi-instagram:hover{
    color: #833AB4;
}

.bi-facebook:hover{
    color: #0D6EFD;
}

@media (max-width: 991px) {
    .titulo-personajes .titulo-sinopsis{
        font-size: 40px; /* Tamaño del texto para pantallas medianas y mayores */
    }
    .personajes{
        height: 110vh;
    }
    .sinopsis{
        height: 100vh;
    }
    .titulo-sinopsis{
        text-align: center;
        justify-content: center;
    }
    .titulo-galeria{
        font-size: 50px;
    }

    .img-style{
        height: 55vh !important;
    }
    .galeria{
        height: 130vh;
    }
    .img-galeria{
        height:35vh !important;
        padding-top: 20px;
    }
}
